.Magic-Banner {
  width: 100%;
}

.sort-menu{
  text-align: left;
  padding: 10px;
}

.sort-text{
  padding: 15px;
}

/* .why-do-i-not-work-wtf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.magic-card {
  justify-content: flex-start;
  flex: 0 0 auto;
  margin: 10px;
  font-size: .8rem;
  text-align: center;
  padding: 10px;

}

.magicCard img {
  width: 223px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 15px;
}
